<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    {% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>EFF超市管理系统-登录</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo" style="font-size: 30px;">
            <img src="/static/images/EFF-logo.jpg" width="230px" height="70px">
            <span style="color:black;font-size: 15px;">美好生活，乐享乐购。</span>
        </a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">EFF超市管理系统</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="{% url 'userapp:register' %}">立即注册</a>
				</div>
				<div class="form_input">
					<form action="{% url 'userapp:loginlogic' %}" method="post">
                        {% csrf_token %}
						<input type="text" name="username" class="name_input" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="rem" value="ok">
							<label>7天自动登录</label>
							<a href="{% url 'userapp:forget_pwd' %}">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit" onclick="login_form()">
					</form>
				</div>
			</div>
		</div>
	</div>
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        function login_form() {
             $.ajax({
                 type:'POST',
                 url:'{% url 'userapp:loginlogic' %}',
                 data:$('form').serialize(),
                 success:function (data) {
                     if (data.status ===1){
                         alert(data.msg);
                         location.href="{% url 'operations:show' %}";
                     }else if (data.status === -1){
                         var boo=window.confirm('是否要重新发送邮件进行激活？');
                         if (boo){
                             location.href="{% url 'userapp:reactive' %}?username=" + $('[name="username"]').val();
                         }
                     }
                     else {
                         alert(data.msg);
                     }
                 }
             });
         }
    </script>
	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2020 上知天文下知科技有限公司 All Rights Reserved</p>
		<p>电话：010-****888    豫ICP备*******8号</p>
	</div>
	
</body>
</html>